.gitattributes	export-ignore
/README_UPDATE_RIGHTS.txt	export-ignore
/README_UPDATE.txt export-ignore1
/README_SINGLE_MIGRATION.txt	export-ignore
/README.md	export-ignore
/CHANGELOG.md	export-ignore
/screenshots	export-ignore
/docs	export-ignore
